.highlight {
    height: 400px;
    background-color: #D95D5A;
    color: white;
    border-bottom-right-radius: 250px;
}

nav {
    width: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0px 139px;
    
}

.link {
    margin: 0 20px;
}

.introduction {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "empty right right";
}

.text {
    grid-area: right;
}

.boxes {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "psychology philosophy saxophone";
}

.psychology {
    grid-area: psychology; 
    height: 280px;
    background-color: #5D99E8;
}

.philosophy {
    grid-area: philosophy; 
    height: 280px;
    background-color: #5D99E8;
}

.saxophone {
    grid-area: saxophone; 
    height: 280px;
    background-color: #5D99E8;
}


