.highlight {
    height: 400px;
    background-color: #D95D5A;
    color: white;
    border-bottom-right-radius: 250px;
}

.myName {
    font-family: 'Caveat', cursive;
    font-size: 68pt; 
}

.title {
    font-family: 'Caveat', cursive;
    font-size: 116pt; 
}

nav {
    width: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0px 139px;
    
}

.link {
    margin: 0 20px;
}

.introduction {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "empty right right";
}

.text {
    grid-area: right;
}

.boxes {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "psychology philosophy saxophone";
}

.psychology {
    grid-area: psychology; 

}

.philosophy {
    grid-area: philosophy; 
}

.saxophone {
    grid-area: saxophone; 
    
}

.box {
    background-color: #5D99E8;
    height: 280px;
    margin: 10px;
}


.caseStudyGrid {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr; 
    height: 200px;
    grid-template-areas: 
    "image image text"
     ;
}

/*.otter {
    grid-area: image;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}*/

.caseStudy {
    height: 400px;
    background-color: #D95D5A;
    color: white;
}

.description {
    grid-area: text;
}

#otter-picture {
    width: 100%;
    grid-area: image;
}

.contactMe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 5%;
    grid-template-areas: "myPicture empty-1 contact"; 
    height: 200px;
}

.picture {
    grid-area: myPicture; 
    background-image: url("../images/my-picture.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    grid-area: contact;
}

.smContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

