.highlight {
    height: 400px;
    background-color: #D95D5A;
    color: white;
    border-bottom-right-radius: 250px;
}

nav {
    width: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0px 139px;
    
}

.link {
    margin: 0 20px;
}

.introduction {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "empty right right";
}

.text {
    grid-area: right;
}

.boxes {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "psychology philosophy saxophone";
}

.psychology {
    grid-area: psychology; 

}

.philosophy {
    grid-area: philosophy; 
}

.saxophone {
    grid-area: saxophone; 
    
}

.box {
    background-color: #5D99E8;
    height: 280px;
    margin: 10px;
}

.caseStudy {
    position: relative;
}

.caseStudyGrid {
    display: grid;
    margin: 0px 5%;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
    height: 200px;
    grid-template-areas: 
    "image image text"
    "image image empty"
     ;
    background-color: green;
}

.otter {
    grid-area: image;
}
